<form  action="/admin" method="POST">
    <input type="email" placeholder="email" name="email" id="name">
    <input type="password" placeholder="password" name="password" id="email">
    <input type="submit">
</form>