<form action="/admin/vacancy/new" method="POST">
    <input type="text" placeholder="Job Title" name="jobtitle" id="jobtitle">
    <input type="text" placeholder="Location" name="location" id="location">
    <input type="number" placeholder="Experience Required" name="experience" id="experience">
    <input type="text" placeholder="Qualification" name="qualification" id="qualification">
    <input type="text" placeholder="Job Description" name="jobdescription" id="jobdescription">
    <input type="submit">
</form>