<form id='uploadForm' action="" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="First Name" name="firstname" id="firstname">
    <input type="text" placeholder="Last Name" name="lastname" id="lastname">
    <input type="email" placeholder="email" name="email" id="email">
    <input type="tel" placeholder="Phone No" name="mobilenumber" id="mobilenumber">
    <input type="text" placeholder="College" name="college" id="college">
    <input type="text" placeholder="Stream" name="stream" id="stream">
    <input type="number" placeholder="Graduation Year" name="graduationyear" id="graduationyear">
    <input type="url" placeholder="Linkedin Profile URL" name="linkedinProfileURL" id="linkedinProfileURL"> 
    <input type="text" placeholder="Domain" name="domain" id="domain">   
    <input type="file" name="myFile" />
    <input type="submit">
</form>