.header
{
    margin:10px 0px;
    text-align:center;
}
input, textarea
{
    width: calc(60% - 20px);
    background-color: var(--secondary-div-bg);
    padding: 10px;
    border: none;
    outline: none;
}
input[type="submit"]
{
    padding: 10px 40px;
    width: auto;
}
@media screen and (max-width: 600px)
{
    input, select, textarea
    {
        width: calc(90% - 20px);
        background-color: var(--secondary-div-bg);
        padding: 10px;
        border: none;
        outline: none;
    }
    select
    {
        width: 90%;
    }
}